body {background-color: rgb(255, 240, 242);}

h1 {text-align: center;}

h2, h3 {font-size: 22px;}

p, ol, table {font-size: 18px;
    font-family: 'Courier New', Courier, monospace;}

* {box-sizing: border-box;}

.column {float: left;
    width: 33.33%;
    padding: 5px;}
  
.row::after {content: "";
    clear: both;
    display: table;}

table {border-collapse: collapse;}

th, td {border: 1px solid black;
    padding: 5px;}

tr:nth-child(even) {background-color: lightpink;}

td:hover {background-color: white;}

#image1:hover, #image2:hover, #image3:hover {width: 1000px;}